# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
.venv/
env/

# Ignore data file
data/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore setup notes
Install_and_setup_notes.md